body{
  background-color: #211F1F;
  font-size:250px;
  font-family:'Lato', sans-serif;
  color: #707070;
  position: absolute;
}
.name{
  z-index: -1;
}
.film{
  width: 900px;
	height: 900px;
	background: white;
	-webkit-border-radius: 450px;
	border-radius: 450px;
  position: absolute;
  -webkit-animation: spin 0.8s infinite linear;

}
.insidefilm{
  width: 550px;
	height: 550px;
	background:#211F1F;
	-webkit-border-radius: 275px;
	border-radius: 275px;
  position: absolute;
  left: 180px;
  top: 180px;
}
#l1{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
}
#l2{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(90deg);
}
#l3{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(30deg);
}
#l4{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(60deg);
}
#l5{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(120deg);
}
#l6{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(150deg);
}
#l7{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(180deg);
}#l8{
height:900px;
width: 2px;
background-color: #707070;
position: absolute;
left:  450px;
transform: rotate(210deg);
}

#i1{
position: absolute;
height: 10px;
width: 10px;
z-index:2;


}
#i2{
max-height: 50px;
max-width:50px;

}
#i3{
max-height: 50px;
max-width:50px;

}
#i4{
max-height: 50px;
max-width:50px;

}
#i5{
max-height: 50px;
max-width:50px;

}
#i7{
max-height: 50px;
max-width:50px;

}
#i8{
max-height: 50px;
max-width:50px;

}
#i9{
max-height: 50px;
max-width:50px;

}
#i10{
max-height: 50px;
max-width:50px;

}
#i11{
max-height: 50px;
max-width:50px;

}
#i12{
max-height: 50px;
max-width:50px;

}
#a1:hover {
  visibility: visible;
    transform: scale(1.5);
}
#a2:hover {
    transform: scale(1.5);
}#a3:hover {
    transform: scale(1.5);
}#a4:hover {
    transform: scale(1.5);
}#a5:hover {
    transform: scale(1.5);
}#a6:hover {
    transform: scale(1.5);
}
#a7:hover {
    transform: scale(1.5);
}
#a8:hover {
    transform: scale(1.5);
}
#a9:hover {
    transform: scale(1.5);
}
#a10:hover {
    transform: scale(1.5);
}
#a11:hover {
    transform: scale(1.5);
}
#a12:hover {
    transform: scale(1.5);
}
#a1{
  position: absolute;
  height:30px;
  width: auto;
  left: 800px;
  top: 100px;
  transition: transform .5s;

}
#a2{
  visibility: hidden;
}
#a3{
  visibility: hidden;
}
#a4{
  visibility: hidden;
}
#a5{
  visibility: hidden;
}
#a6{
  visibility: hidden;
}
#a7{
  visibility: hidden;
}
#a8{
  visibility: hidden;
}
#a9{
  visibility: hidden;
}#a10{
  visibility: hidden;
}
#a11{
  visibility: hidden;
}
#a12{
  visibility: hidden;

}
