*{

}
body{
  background-color: aliceblue;
}



.fruits1 {
  background-color:lightyellow;
padding-left:15cm ;
padding-right: 15cm;
  padding-top:2cm;
margin-bottom:-7.7cm;
 width: 25%; height: auto;
}
.fruits2{
  background-color:lightyellow;
  padding-left:15cm ;
  padding-right: 15cm;
  margin-top:7.4cm;
padding-bottom:2cm;
 width: 25%; height: auto;
}
